body{
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    width: 95%;
    max-width: 788px;
    display: flex;/* sharebutton will always be to the right*/
    justify-content: flex-end;
    padding: 12px; /* Pads out stuff */
    margin-top: 15px; /* The top is a little spaced out */


}



.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);

}

.share-button svg{
    margin-left: 12px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}

.container {
width: 91%;
max-width: 680px;
margin: 10px;
display: flex;
flex-direction: column;
align-items: center;
}

h1{
    font-size: 20px;
    Margin-bottom: 30px;
}

a {
    text-decoration:none;
    color: rgb(240, 240, 240);
}
.tile{
    height: 56px;
    width: 100%;
    background-color: rgb(37, 37, 37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tile:hover { /*makes the tile get a little bigger when cursors is on it */
    transform: scale(1.02);
    transition: cubic-bezier(.07, 1.41. ,82, 1.41)0.5;
}
.tile-share-button{
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
}


.image-container{/*The height and width of the Image I put in the code*/
    width: 96px;
    height: 96px;
    border-radius: 48px;/* Makes Image circular */
    overflow: hidden;//*This means anything outside of the circle will be hidden*/
}

.image-container img{/*This will make any image uploaded to be in the settings in Imahe container*/ 
    /* I forgot to add img lol */
    height: 100%;

}

.icon{
    margin: 0px 8px;
    width: 44px;
    height: 44px;

}

.tile-share-button svg{
    margin-left: 12px;
    margin-top: 10px;
}
